<footer class="p-5 text-xl text-center mt-8 pt-8 pb-8 border-t border-gray-100/10">
    <div class="text-gray-500">
        {{ if .Site.Params.license.copyright }} <!-- 检查配置中是否设置了版权信息 -->
        {{ .Site.Params.license.copyright | safeHTML }} <!-- 管道，允许 HTML 标签在输出中被渲染而不是转义 -->
        {{ else }}
        &#xA9; 2025 - now by <a class="hover:text-gray-100" href="https://github.com/Chesszyh"
            target="_blank">Chesszyh</a>. All Rights
        Reserved.
        {{ end }}

        <!-- 条件语句，英语链接指向根目录，其他语言指向语言子目录 -->
        {{ range .Site.Languages }}
        | <a class="hover:text-gray-100" href="{{ if eq .Lang " en" }} / {{ else }} /{{.Lang}} {{ end }}">{{
            .LanguageName }}</a>
        {{ end }}
    </div>
</footer>